* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /*apply styles to body*/
  body{
    font-family: Helvetica, Arial, sans-serif;
    color: #0f0070;
    background-color: #e6ebfa;
  }
  /*creating a header that will stick to the website during scorlling*/

  header{
    z-index: 9999;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color:#E3B448;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
  }
  .box{
    background-color:#CBD18F;
    display: flex;
    flex-wrap: wrap;
  }
  header h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    color: #3A6B35;
    padding: 10px 10px 5px 40px;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  div h1 a{
    text-decoration: none;
    color: #3A6B35;
  }

  header nav{
    margin: 7px 0;
  }
  header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style:none;
  }
  header nav ul li a{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: #3A6B35;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    
  }
  /*using pseudo elment to create a hovering effect over navigation menu*/

  header nav ul li a:hover{
      background:#CBD18F;
      color: #3A6B35;
      border-radius: 15px;
      text-shadow: none;
      text-decoration: none;
  }
  
  /*building the hero part with background image*/
  .hero{
      background-image: url(assets/image/istockphoto.jpg);
      background-size: cover;
      display: flex;
      justify-content: right;
      flex-wrap: wrap;
      align-items: flex-start;
      background-attachment: fixed;
      background-position: 80%;
  }
  .hero-sub{
    display: flex;
    flex-wrap: wrap;
    width: 35%;
    text-align: right;
    margin: 4%;
    color: #fff;
    font-size: 12px;
    position:relative;
  }
  /*puting a nice quote*/
  .hero-sub h3 {

    font-style: italic;
    font-size: 17px;
    color:#E3B448;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    
  }
  .hero-sub h3:hover{
    background:#CBD18F;
    color: #3A6B35;
    border-radius: 5px;
    text-shadow: none;
    text-decoration: none;
}
/* styling
/* about me section*/
.about-me{
  background-color:#E3B448; 
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  display: flex;
  justify-content:space-around;
  padding: 20px;

}
.about-me-header{
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
}
.about-me img{
  border-radius: 50%;
  flex:0.3;
  width: 250px;
  padding: 20;
}
.text{
  color: #3A6B35;
  width:45%;
}
.flex-row{
  display: flex;
}
/*styling my work section*/

.work{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 0%;
}
.projects{
  margin: 20px;
  flex: 1;
  background-color: #E3B448;
  color: #3A6B35;
  display: flex;
  flex-direction: column;
}
.projects img{
  width: 100%;
}
.flex-row{
  justify-content: center;
}
.work-edit{
  font-size: 28px;
  display: flex;
  flex-wrap: wrap;
  color: #3A6B35;
  padding-top: 20px;
}
.hork-edit h2:hover{
  background:#CBD18F;
  color: #3A6B35;
  border-radius: 5px;
  text-shadow: none;
  text-decoration: none;
}
.project-info{
   align-items: center;
    padding: 25px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.project-info h3{
  font-size: 28px;
}
.project-info p{
  font-size: 17px;
}
/*styling my footer part*/
footer{
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color:#E3B448;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
}
.linking{
  background-color:#CBD18F;
  display: flex;
  flex-wrap: wrap;
}
footer h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: auto;
  color: #3A6B35;
  padding: 10px 10px 5px 40px;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
footer nav{
  margin: 7px 0;
}
footer nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style:none;
}
footer nav ul li a{
  font-family:Georgia, 'Times New Roman', Times, serif; 
  color: #3A6B35;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
  
}
/*using pseudo elment to create a hovering effect over navigation menu*/

footer nav ul li a:hover{
  background:#CBD18F;
  color: #3A6B35;
  border-radius: 15px;
  text-shadow: none;
  text-decoration: none;
}
/* Media query for small desktop screens and smaller*/
@media screen and (max-width: 980px){
header {
  padding-bottom: 0;
  justify-content: center;
  position: relative;
}
header h1 {
  width: 100%;
  text-align: center;
}
header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
header nav ul li a {
  font-size: 20px;
}
footer h2, footer div {
  text-align: center;
  width: 100%;
}
.projects {
  flex: 0 70%;
}

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .project-info h3,{
      display: block;
    }
}
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  
    .linking {
      width: 95%;
    }
  
    .about-me p {
      width: 100%;
    }
  
    .projects {
      flex: 0 100%;
    }
  
    .linking{
      text-align: center;
    }
  
    .linking > * {
      flex: 0 100%;
    }
  
  }



